<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :size =>"30" %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.select :subject_id, @subjects %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :datetime %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo, :size => "50x20" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
