<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @note.subject_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= simple_format(@note.memo) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @note.datetime %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', subject_path(@note.subject_id) %>
