
<div class="container">
<div class="span12">
<p id="notice"><%= notice %></p>
<body style="padding-top:40px">
<p>
  <strong>Title:</strong>
  <h1><%= @subject.title %></h1>
</p>

<p>
  <strong>Memo:</strong>
  <%= @subject.memo %>
</p>
<hr>
<div class="row">
<div class="span8">
<b>ノート一覧</b>
<table>
<thead>
<tr>
<!--  <th>Date</th> -->
  <th>Title</th>
  <th>Memo</th>
<th width="30"></th>
</tr>
</thead>
<tbody>
<% if @subject.notes %>
<% for det in @subject.notes %>
<tr>
  <td><%= det.title %></td>
  <td><%= simple_format(det.memo) %></td>
  <td width="30"><b><%= link_to '詳細', det %><br>
                    <%= link_to '編集', edit_note_path(det) %><br>
                    <%= link_to '消去', det, method: :delete, data: { confirm: '消去してよろしいですか？'} %></b></td>
</tr>
<% end %>
<% end %>
</tbody>
</table>
</div>
<div class="span4">
      <b>新規ノート作成</b>
<%= render 'notes/form' %>
</div>
</div>
</div>
</div>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
<%= link_to 'ノート作成',new_note_path %>
